.button {
  display: block;
  padding: 20px 0;

  border: 4px solid black;
  background-color: white;

  font-weight: bold;
  color: black;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

}
