.featured-product {
  @include container;
  padding-top: 36px;
  padding-bottom: 36px;
  margin-bottom: 28px;

  border-bottom: 2px dashed grey;
}

.featured-product__header {
  h2 {
    margin: 0;
    margin-bottom: 5px;

    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    white-space: nowrap;
  }
}

.featured-product__label {
  margin-top: 0;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
}

.featured-product__description {
  margin: 0;
  padding-top: 36px;
  padding-bottom: 36px;

  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.featured-product__properties-list {
  padding-left: 0;
  margin-bottom: 24px;

  font-size: 15px;
  line-height: 20px;
  color: #444444;

  list-style-type: none;
}

.featured-product__property-item {
  display: flex;
  margin: 0;
  padding-bottom: 15px;

  border-bottom: 2px solid #ececec;
}

.featured-product__property-name {
  min-width: 96px;
}

.featured-product__property-description {
}

.featured-product__picture {
  margin: 0;

  img {
    width: 100%;
  }
}

.featured-product__price {
  padding-top: 36px;
  padding-bottom: 32px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: #444444;
}

.featured-product__button {

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  color: #444444;
}

