$item-height: 79px;
$icon-width: 25px;
$icon-margin: $icon-width;

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// 2010 Improved NIR (Nash Image Replacement)
// http://nicolasgallagher.com/css-image-replacement-with-pseudo-elements/
@mixin image-replacement($image-url) {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;

    &:before {
      content: url($image-url);
      display: inline-block;
      font-size: 0;
      line-height: 0;
    }
}

@mixin add-menu-icon($icon-url) {
  &:before {
    position: absolute;
    display: block;
    float: left;
    height: $item-height;
    width: $icon-width;
    margin-left: 32px;

    background-image: url($icon-url);
    background-position: left center;
    background-repeat: no-repeat;
    color: grey;
    content: "";
  }
}

.main-nav {
  position: relative;
  width: 320px;
}

.main-nav__list {
  position: absolute;
  z-index: 1;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  width: inherit;

  &--close {
    display: none;
  }
}

.main-nav__toggler:checked ~ .main-nav__list--close {
  display: block;
}


.main-nav__item {
  position: relative;
  display: block;
  height: 79px;

  list-style-type: none;

  background-color: white;
  border-bottom: 1px solid #ececec;
  box-shadow: 0 1px 0 0 #ececec;

  a {
    display: flex;
    align-items: center;
    height: inherit;



    text-decoration: none;
    &:hover {
      color: transparentize(black, 0.3);
    }

    &:active {
      color: transparentize(black, 0.6);
    }
  }

  &--icon-search {
    @include add-menu-icon("../img/icon-search.svg");
  }

  &--icon-cart {
    @include add-menu-icon("../img/icon-cart.svg");
  }
}

.main-nav__item-title {
  margin-left: 76px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  color: black;

  text-decoration: none;
}


.main-nav__toggler {
  position: absolute;
  top: -52px;
  right: 12px;
  z-index: 1;
}

.main-nav__toggler-label {

  &--open {
    @include image-replacement("../img/icon-menu-open.svg");
  }

  &--close {
    @include image-replacement("../img/icon-menu-close.svg");
  }
}
