.page-footer {
  background-color: #f1f1f1;
}

.page-footer__social {
  @include container;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;

}

.page-footer__social-list {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;

  border-bottom: 1px solid #e5e5e5;

}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;

  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}

.page-footer__copyright-text {
  margin-right: 20px;
}

.page-footer__copyright-link {
  @include image-replacement("../img/htmlacademy.svg");

  &:before {
    width: 40px;
  }
}
