.page-catalog {
  width: 320px;
}

.page-catalog__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.page-catalog__item {
  position: relative;

  height: 103px;

  list-style-type: none;

  background-color: #63d1bb;

  &:nth-child(even) {
    background-color: #56c3b2;
  }

}

@mixin catalog-icon($icon-url) {
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    content: "";
    opacity: 0.2;
    background: url($icon-url);
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: auto 61px;
  }
}

.page-catalog__title {
  display: flex;
  align-items: center;

  height: 100%;

  text-decoration: none;

  &--interior {
    @include catalog-icon("../img/icon-interior.svg");
    &:after {
      background-position-x: 86%;
    }
  }

  &--toy {
    @include catalog-icon("../img/icon-toy.svg");
  }
}

.page-catalog__title-text {
  margin-left: 27px;

  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  color: white;
}
