.page-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 320px;
  height: 79px;

  background-color: white;
  box-shadow: 0 1px 0 0 #ececec;

  img {
    width: 86px;
    height: 35px;
  }
}
